#trss-map-page {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

#trss-map-page {
  position: relative;
  overflow: hidden;

  &.__lock-init {

    .map-tools-container {
      opacity: .4;
    }

    .map-tools-container, 
    #traveling-session-map {
      pointer-events: none;
    }
  }

  .button-toggle-map-tools-on-mobile {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border: none;
    padding: 0;
    line-height: 0;
    border-radius: 0;
    z-index: 20;
    outline: none;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    @media(max-width: 768px) {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .map-tools-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
  }

  #map,
  #traveling-session-map {
    overflow: hidden;
    position: relative;
    width: calc(100% - 400px);
    margin-left: 400px;
    height: 86vh;
  }

  @media(max-width: 768px) {

    .map-tools-container {
      max-width: calc(100% - 60px);
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: .3s ease;
      -webkit-transition: .3s ease;
      opacity: 0;
    }

    #traveling-session-map {
      margin-left: 0;
      width: 100%;
      height: 70vh;
    }

    &.__map-tools-mobile-show {

      .map-tools-container { 
        transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

#Fav-City-List {

  .__fav-city-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid 1px #cecece;
    padding: 10px;
    transition: .3s ease;
    -webkit-transition: .3s ease;

    &:hover {
      background: white;
    }

    .__inc-num {
      width: 36px;
      height: 36px;
      min-width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      background: black;
      border-radius: 30px;
      color: #FFF;
    }

    &:nth-child(1) {

      .__inc-num {
        background: #FF5722;
        color: #FFF;
      }
    }

    &:nth-child(2) {

      .__inc-num {
        background: #673ab7;
        color: #FFF;
      }
    }

    &:nth-child(3) {

      .__inc-num {
        background: #005f27;
        color: #FFF;
      }
    }

    .fav-entry {
      padding-left: 15px;

      .city-name {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: bold;
        color: #000;
        margin: 0 0 2px;
        text-decoration: underline;
        font-family: Arial;

        @media(max-width: 425px) {
          font-size: 14px;
        }
      }

      .entry-meta {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        color: #555;

        .__by {

          &:after {
            content: "|";
            margin: 0 10px;
          }
        }

        .__geometry {

        }
      }
    }
  }
}

.__btn-disable {
  opacity: .3;
  pointer-events: none;
}

/**
 * Maxbox Style
 */
body {

  .mapboxgl-popup-content {
    border-radius: 0;
    padding: 10px;
    max-width: 150px;

    .mapboxgl-popup-close-button {
      line-height: 0;
      width: 10px;
      height: 12px;
      font-size: 15px;
    }
  }

  .mapboxgl-popup .mapboxgl-popup-tip {
    opacity: 1;
    border-top-color: black;
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-top-color: transparent;
    border-left-color: black;
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-top-color: transparent;
    border-right-color: black;
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-top-color: transparent;
    border-bottom-color: black;
  }

  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: black;
  }

  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: black;
  }
}
/**
 * END Maxbox Style
 */

.__is-toggle {

  .__toggle-heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .arrow-toggle {
      display: flex;
      width: 12px;
      height: 12px;
      align-items: center;
      justify-content: center;
      line-height: 0;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .__toggle-content {
    display: none;
  }

  &.__is-open {
    
    .__toggle-content {
      display: block;
    }
  }
}

.dashboardcode-bsmultiselect {

  ul {
    margin: 0;
    padding: 0;
  }
}